<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        

        <link rel="stylesheet" href="{{asset('style/style.scss')}}">
    </head>
    <body>
        {% block content %}
                <nav>
                    <ul class="navbar-main">
                        <li><a href="{{ path('app_home') }}" class="listes">Accueil</a></li>
                        <li><a href="{{ path('app_listes_des_glaces') }}">Listes des glaces</a></li>
                        <li><a href="{{ path('app_ajout_glace') }}">Ajouter une glace</a></li>

                        {% if app.user %}
                        <li class="logout-item">
                            <form action="{{ path('app_logout') }}" method="post" class="logout-form">
                                <button type="submit">🚪 Déconnexion</button>
                            </form>
                        </li>
                        {% else %}
                            <li><a href="{{ path('app_sign') }}"> Inscription</a></li>
                            <li><a href="{{ path('app_login') }}"> Connexion</a></li>
                        {% endif %}
                    </ul>
                </nav>

        {% endblock %}
        {% block body %}

        {% endblock %}

    </body>